@media (max-width: 500px) {
  width: 100%;
}
.nav-mixin {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}
.leroy-btn {
  text-align: center;
  height: 6rem;
  width: 95%;
}
.leroy-btn:hover {
  background-color: #9c9c9c;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #5E6164;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container .container {
    width: 100%;
  }
}
header.intro {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
div.logo {
  margin: 0 auto;
}
div.navigation {
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  width: 45%;
}
.navigation a {
  margin: 3% 0%;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  header.intro {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  div.logo {
    margin: 0 auto;
  }
  #navigation-responsive {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
            justify-content: space-evenly;
    margin: 2% 0% 4% 0%;
    width: 100%;
  }
  a {
    font-size: 1.4rem;
  }
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
@media (max-width: 500px) {
  footer {
    margin-top: 2rem;
  }
}
.home .intro h2 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .space-images {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
.home .visit-planets {
  padding: 15px;
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}
.home .walk .walk-text {
  width: 50%;
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .btn {
  border-radius: 1rem;
  border: 1px solid;
  background: #22283A;
  color: #f6ebd4;
  width: 33%;
}
.home .walk .btn:hover {
  background-color: #9c9c9c;
  text-transform: uppercase;
}
.home .walk #btn-p-responsive {
  margin-bottom: 0px;
  text-align: center;
  margin: 6% 0%;
  font-size: s1.6rem;
  font-weight: bold;
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .image-banner {
    height: 10rem;
    margin: 0 auto;
    width: 100%;
  }
  .top-content {
    width: 95%;
    margin: 0 auto;
    line-height: 5rem;
  }
  #blast-off {
    width: 100%;
  }
  img.sky {
    display: none;
  }
  img.launch {
    display: none;
  }
  #walk-responsive {
    padding: 0;
    width: 95%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    margin: 0 auto;
  }
  #walk-img-responsive {
    width: 100%;
    margin: 0 auto;
  }
  #walk-text-responsive {
    width: 95%;
    margin-bottom: 0px;
    margin: 0 auto;
  }
  #btn-responsive {
    text-align: center;
    height: 6rem;
    width: 95%;
  }
  #btn-responsive:hover {
    background-color: #9c9c9c;
  }
  #btn-p-responsive {
    text-align: center;
    margin: 1rem;
  }
}
