// Navigation code here// Navigation code here
@media @phone {
    header.intro {
        display: flex;
        flex-direction: column;
    }

    div.logo {
        margin: 0 auto;
    }

    div.navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2% 0% 4% 0%;

        a {
            font-size: 1.4rem;
        }
    }
}